
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2.35rem;
}

.hero {
    text-align: center;
    padding: 5rem 0;
    background-color: #007BFF;
    color: #fff;
}

.hero img {
    padding-right: 60px;
}

.hero .btn {
    background-color: #fff;
    color: #007BFF;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.login-form, .register-form, .product-list {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form h2, .register-form h2, .product-list h2 {
    margin-bottom: 1rem;
}

.login-form form, .register-form form {
    display: flex;
    flex-direction: column;
}

.login-form label, .register-form label {
    margin-bottom: 0.5rem;
}

.login-form input, .register-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.product-list .products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header a{
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
header a:hover {
    background-color: #0056b3;
}
a{
    text-decoration: none;
}

.elecciones {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
    border: 2px solid black; /* Borde negro de 2px */
}

.producto-elegido {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.producto-elegido h1 {
    text-align: left;
}

.producto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.producto-imagen {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.producto-detalles {
    flex: 1;
}

.producto-descripcion {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.producto-precio {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
